$bg_color1: #dee3e5;
$bg_color2:#b6c0cb; 
$bg_color3:white;
$bg_color4:#2256a5;
$bg_color5:#c2d2e9;
$bg_color6:#161d6f;
$bg_color7:#2256a5;
$bg_color8:#c7ffd8;
$bg_color9:#1e4d79;
$bg_color10:#706047;
$bg_color11:antiquewhite;
$bg_color12:#5e83ba;
$bg_color13:#666;
$bg_color14:black;
$bg_color15:#98ded9;
$bg_color16:darkgrey;
$bg_color17:#5e83ba;
