/*SEGUROS*/
.seguros{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-size: cover;
    align-items: center;
    margin-left: 120px;
}
.botones{
    text-align: center;
    margin-bottom: 50px;
    
}
.btn-primary{
    margin-left: 50px;
    background-color: $bg_color12;
}
.dropdown{
    margin-top: 50px;
}