/*SEGUROS*/
.seguros{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-size: cover;
    align-items: center;
}
.botones{
    text-align: center;
    margin-bottom: 50px;
    
}
.btn-primary{
    background: color $bg_color12;;
    margin-left: 50px;
}