/*INDEX*/

.contenedor{
    display: grid;
    margin-top: 50px;
    margin-left: 120px;
    padding: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "carousel textoIndex";
}

.carousel{
    grid-area: carousel{
        margin: 50px;
    }
}
.textoIndex{
    grid-area: textoIndex{
    padding: 50px;
    margin: 50px;
    font-size: 1.2rem;
    text-align: left;
}
}
/*CARDS*/
.tarjetas{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    text-align: center;
    min-height: 200px;
}
.card-title{
    font-size: 1.2rem;
}
.card-text{
    text-align: center;
    min-height: 200px;
}
.card-body{
    min-height: 200px;
}




/*FOTO GRANDE
.contenedor10{
    background-image: url("/img/familia\ en\ auto.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
}
.carousel-inner{
    background-image: url("/img/familiafeliz2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
}
*/






/*FOTO GRANDE
.contenedor10{
    background-image: url("/img/familia\ en\ auto.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
}
.carousel-inner{
    background-image: url("/img/familiafeliz2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
}
*/
