*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, $bg_color1, $bg_color2, $bg_color3);
    background-size: cover;
    background-attachment: fixed;
}